@import "tailwindcss";

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-Italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Farben */
  --color-yellow: #f2c94c;
  --color-yellow-80: #f2c94ccc;
  --color-yellow-soft: #fbf1c0;

  --color-paper: #fafaf7;
  --color-white: #ffffff;
  --color-black: #111111;

  --color-accent: #b8bdce;
  --color-accent-hover: ;

  /* Linien */
  --color-line: #0000000d;

  /* Rahmen */
  --color-border: #d6d6d6;
  --color-border-focus: #888;

  /* Text */
  --color-text: var(--color-black);
  --color-text-light: var(--color-white);
  --color-text-muted: #666666;
  --color-text-warning: #c52a2a;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body,
.unicode-copyright {
  font-family: "Inter", sans-serif;
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
header,
footer {
  font-family: "Cormorant", serif;
  font-weight: 600;
}

button,
input,
textarea {
  font: inherit;
}

::selection {
  background: rgba(242, 201, 76, 0.25);
}

.form-error {
  color: var(--color-text-warning);
  font-size: 0.95rem;
}

.layout-main {
  background-image: linear-gradient(
    to bottom,
    var(--color-line) 1.5px,
    transparent 1.5px
  );

  background-size: 100% 32px;
}
